.form-story {
  &__slogan {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
  }

  &__field-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
  }

  &__field {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }

  &__grey-back {
    background-color: #f2f2f2;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #d22856;
  }

  &__label-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }

  &__comment-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }

  &__button-send {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__required-fields {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #283645;
  }
}
