.news {
  display: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 105px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    background-color: @pale-gray;
  }
}

.news__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding-top: 26px;
    padding-bottom: 92px;
  }
}

.news__diagram-fill {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 19px;
    margin-top: 50px;
    width: 202px;
    height: 202px;
    background-color: transparent;
    border: 16px solid @pink;
    border-radius: 50%;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    margin-left: 24px;
    margin-top: 69px;
    width: 252px;
    height: 252px;
    border: 18px solid @pink;
    border-radius: 50%;
  }
}

.news__number {
  @media (min-width: @tablet-width) {
    margin: 0;
    font-weight: 700;
    font-size: 96px;
    line-height: 163px;
    color: @pink;
  }

  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 120px;
    line-height: 163px;
    color: @pink;
  }
}

.news__timer-icon {
  position: absolute;

  @media (min-width: @tablet-width) {
    top: -6px;
    left: 0;
    width: 238px;
    height: 276px;
    fill: @light-gray;
  }

  @media (min-width: @desktop-width) {
    top: 26px;
    width: 298px;
    height: 345px;
    fill: @light-gray;
  }
}

.news__content {
  @media (min-width: @tablet-width) {
    padding-top: 35px;
    margin-left: 90px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 95px;
    margin-left: 95px;
    width: 525px;
  }
}

.news__title {
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: @black;

    br {
      display: none;
    }
  }
}

.news__text {
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: @blue-gray;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding-right: 3px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: @blue-gray;

    br {
      display: none;
    }
  }
}

.news__link {
  @media (min-width: @tablet-width) {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: @pink;
    text-decoration-line: underline;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: @pink;
    text-decoration-line: underline;
  }
}
