.popup {
  display: none;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 185px;
  background-color: @white;
  box-shadow: 0 7px 15px @light-black-shadow;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 112px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 81px;
    max-width: 780px;
  }
}

.popup--failure {
  position: absolute;
  top: 1312px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) {
    top: 1091px;
  }

  @media (min-width: @desktop-width) {
    top: 1006px;
  }

  .popup__button-wrapper {
    @media (min-width: @desktop-width) {
      padding: 50px 0;
      background-color: @pale-gray;
    }
  }

  .popup__content {
    padding-top: 38px;
    margin-bottom: 41px;

    @media (min-width: @tablet-width) {
      padding-top: 40px;
      margin-bottom: 32px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 41px;
      margin-bottom: 62px;
    }
  }
}

.popup--succes {
  position: absolute;
  top: 1831px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    top: 1600px;
  }

  @media (min-width: @desktop-width) {
    top: 1463px;
  }

  .popup__content {
    padding-top: 38px;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      padding-top: 40px;
      margin-bottom: 30px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 40px;
      margin-bottom: 39px;
    }
  }

  .popup__button-wrapper {
    padding: 50px 0;
    background-color: @pale-gray;
  }
}

.popup__content {
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 190px;
  }
}

.popup__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }
  }
}

.popup__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @blue-gray;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    br {
      display: none;
    }
  }
}

// Button

.popup__button-wrapper {
  text-align: center;
}

.popup__button-close {
  padding: 16px 67px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: @white;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: @dark-green;

  &:hover,
  &:focus {
    background-color: @green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 16px 77px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 157px;
  }
}

.popup__button-ok {
  margin-bottom: 50px;
  padding: 17px 127px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: @white;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: @dark-green;

  &:hover,
  &:focus {
    background-color: @green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
    padding: 17px 137px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding: 17px 137px;
  }
}
