.site-list {
  @media (min-width: @desktop-width) {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.site-list a {
  @media (min-width: @desktop-width) {
    display: block;
    padding: 0;
    padding-top: 30px;
  }
}

.site-list__item {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 @black, inset 0 1px 0 @gray-shadow;

  &--active a,
  &--active a:hover,
  &--active a:focus,
  &--active a:active {
    color: @white;
    opacity: 1;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    box-shadow: none;
    margin-left: 78px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(3) {
      margin-left: 80px;
    }

    &:last-child {
      margin-left: 79px;
    }

    &--active a,
    &--active a:hover,
    &--active a:focus,
    &--active a:active {
      color: @white;
      opacity: 1;
    }

    &--active a {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        right: 0;
        left: 0;
        bottom: -12px;
        height: 2px;
        background-color: @white;
      }
    }
  }
}

.site-list__abbreviation {
  @media (min-width: @desktop-width) {
    text-transform: uppercase;
  }
}

.site-list__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;

  &:hover,
  &:focus {
    color: @pink;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: @white;

    &:hover,
    &:focus {
      color: @pink;
    }

    &:active {
      color: @white;
      opacity: 0.3;
    }
  }
}
