.user-photo {
  &__slogan {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
  }

  &__badge-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d22856;
  }

  &__content {
    background-color: #f2f2f2;
  }

  &__author-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  &__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #283645;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  &__like {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
  }
}
